{{> head}}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <p>
        <h1>No es tan bonito como mi PELUSA</h1>
        </p>

    </div>

    <div class="col-4"> 
        
        <img src="assets/img/gatito.jpg" class="img-thumbnail">    
     
    </div>

</div>


{{> footer}}